# Q1 
Take DBMS_student_list.csv as data input, and input the data into a “student” table in your database in MySQL. (10%)

In [1]:
import pandas as pd
df = pd.read_csv('DBMS_student_list.csv',index_col=0)

# Create DB
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
engine = create_engine("mysql://root:Xuan137986ntu@127.0.0.1/DB_class")
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

#Create table
sql = '''create table student(
            身份 CHAR(11) NOT NULL, 
            系所 CHAR(11) NOT NULL,
            年級 INT NOT NULL, 
            學號 CHAR(11) NOT NULL,
            姓名 CHAR(11)
            );
'''
engine = create_engine("mysql://root:Xuan137986ntu@127.0.0.1/DB_class?charset=utf8")
conn = engine.connect()
try:
    conn.execute(sql)
except Exception:
    print("table already exist!")
engine.connect() 

engine = create_engine('mysql://root:Xuan137986ntu@127.0.0.1/DB_class?charset=utf8', echo=False)
#read csv into Dataframe
df = pd.read_csv('DBMS_student_list.csv',index_col=0)
#write csv into Sql
df.to_sql('student', con=engine, if_exists='replace',index=False)

True

50

In [2]:
q = engine.execute('SHOW DATABASES')
available_DB = q.fetchall()
for i in available_DB:
    print(i)

('books',)
('bookstoredb',)
('DB_class',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [3]:
from sqlalchemy import inspect
insp = inspect(engine)
print(insp.get_table_names())

['student']

In [4]:
import sqlalchemy as db
engine = db.create_engine('mysql://root:Xuan137986ntu@127.0.0.1/DB_class?charset=utf8')
connection = engine.connect()
metadata = db.MetaData()
census = db.Table('student', metadata, autoload=True, autoload_with=engine)
# print(census.columns.keys())
query = db.select([census])
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet

[('校內生', '土木系結構組', 1, 'r10521219', '丁治鈞'),
 ('校內生', '農藝系生統組', 1, 'r10621203', '何善學'),
 ('校內生', '生醫電資所', 2, 'r09945024', '余銘仁'),
 ('校內生', '電機資安碩班', 1, 'r10921a01', '劉品枘'),
 ('校內生', '資料科學學程', 1, 'r10946013', '劉謦瑄'),
 ('校內生', '電機系', 4, 'b04901126', '卓冠宇'),
 ('校內生', '資工系', 3, 'b08902023', '吳懷兟'),
 ('校內生', '電機系', 3, 'b08901158', '吳詩昀'),
 ('校內生', '資管系', 1, 'r10725035', '呂文楷'),
 ('校內生', '地質系', 4, 'b06204008', '周柏頤'),
 ('校內生', '化學系', 4, 'b07203064', '廖哲賢'),
 ('校內生', '心理系', 4, 'b07207063', '廖政華'),
 ('校內生', '工科海洋系', 2, 'r08525068', '張書瑄'),
 ('校內生', '電機系', 1, 'r10921013', '張鑫揚'),
 ('校內生', '資工系', 1, 'r10922195', '徐浩宇'),
 ('校內生', '資料科學學程', 1, 'r10946001', '李奕宏'),
 ('校內生', '資工系', 3, 'b08902011', '杜展廷'),
 ('校內生', '生物機電系', 4, 'b07611031', '林  雲'),
 ('校內生', '工科海洋系', 1, 'r10525068', '林怡萱'),
 ('校內生', '資工系', 3, 'b08902053', '林承濬'),
 ('校內生', '生機系', 1, 'r10631025', '林承濬'),
 ('校內生', '生物機電系', 4, 'b07611038', '梁化達'),
 ('校內生', '經濟系', 1, 'r10323003', '楊于晨'),
 ('校內生', '資工系', 3, 'b08202029', '楊欣翰'),
 ('校內生', '電機系', 1, 'r10921129', '楊秉蒼'),
 ('校內生', '農藝系生統組', 1, 'r10621204', '温沛得'),
 ('校內生', '土木系水利組', 1, 'r10521316', '温浚達'),
 ('校內生', '電機系', 3, 'b08901072', '王友廷'),
 ('校內生', '工科海洋系', 3, 'r08525094', '王家彌'),
 ('校內生', '資管系', 1, 'r10725027', '王松億'),
 ('校內生', '電機系', 4, 'b07901122', '王譽凱'),
 ('校內生', '電機系', 2, 'r09921134', '羅敏宏'),
 ('校內生', '電機系', 1, 'r10921095', '莊于萱'),
 ('校內生', '生機系', 2, 'r09631018', '葉冠廷'),
 ('校內生', '電信所', 1, 'r10942153', '葉彥廷'),
 ('校內生', '生機系', 2, 'r09631012', '薛孟謙'),
 ('校內生', '電機系', 3, 'b08901193', '賈承叡'),
 ('校內生', '生機系', 1, 'r10631046', '賴品丞'),
 ('校內生', '生工系', 4, 'b07602001', '鄧喬尹'),
 ('校內生', '資管系', 1, 'r10725053', '鍾秉諮'),
 ('校內生', '基蛋所', 2, 'r09455005', '闕立芸'),
 ('校內生', '電信所', 1, 'r10942024', '陳嘉佑'),
 ('校內生', '電機系', 1, 'r10921039', '陳巧錚'),
 ('校內生', '生機系', 2, 'r09631010', '陳彥碩'),
 ('校內生', '生機系', 1, 'r10631003', '陳柏霖'),
 ('校內生', '財金系', 3, 'b08703112', '陳觀祐'),
 ('校內生', '生物機電系', 4, 'b07611035', '馬琮翔'),
 ('校內生', '土木系水利組', 1, 'r10521314', '高家浩'),
 ('校內生', '資管系', 1, 'r10725003', '黃柏叡'),
 ('校內生', '資料科學學程', 2, 'r09946004', '黃禹翔')]

# Q2
Read the information about yourself from the student table (You can use either your name or your student ID to select out yourself.) (5%)

In [5]:
import sqlalchemy as db
engine = db.create_engine('mysql://root:Xuan137986ntu@127.0.0.1/DB_class?charset=utf8')
connection = engine.connect()
metadata = db.MetaData()
census = db.Table('student', metadata, autoload=True, autoload_with=engine)
# print(census.columns.keys())
query = db.select([census]).where(census.columns.姓名 == '劉謦瑄')
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet

[('校內生', '資料科學學程', 1, 'r10946013', '劉謦瑄')]

# Q3
List your peer students. You need to select these students using department and year information. Do not use student ID or student name to complete this tasks. (5%)

The definition of “peer students” are those students in same department and same year as you (for undergrad student), or those in the same graduate program and same year as you (for graduate student.)

In [6]:
engine = db.create_engine('mysql://root:Xuan137986ntu@127.0.0.1/DB_class?charset=utf8')
connection = engine.connect()
metadata = db.MetaData()
census = db.Table('student', metadata, autoload=True, autoload_with=engine)
query = db.select([census]).where(db.and_(census.columns.系所 == '資料科學學程', census.columns.年級 == 1))
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet

[('校內生', '資料科學學程', 1, 'r10946013', '劉謦瑄'),
 ('校內生', '資料科學學程', 1, 'r10946001', '李奕宏')]

# Q4
Update your own value of the “身分" column from “校內生" to “特優生", then read the updated information about yourself from the database and print it out. (10%)

In [7]:
import sqlalchemy as db
import pandas as pd

engine = db.create_engine("mysql://root:Xuan137986ntu@127.0.0.1/DB_class?charset=utf8")
metadata = db.MetaData()
connection = engine.connect()
emp = db.Table('student', metadata, autoload=True, autoload_with=engine)

# Build a statement to update 
query = db.update(emp).values(身份 = '特優生')
query = query.where(emp.columns.姓名 == '劉謦瑄')
results = connection.execute(query)
results = connection.execute(db.select([emp])).fetchall()

census = db.Table('student', metadata, autoload=True, autoload_with=engine)
query = db.select([census]).where(census.columns.姓名 == '劉謦瑄')
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet

[('特優生', '資料科學學程', 1, 'r10946013', '劉謦瑄')]

# Q5
Insert three new students listed as below into the student table. (10%)

In [9]:
from sqlalchemy import text
sql = '''
    INSERT INTO student
    VALUES 
       ('旁聽生','歷史系',1,'b09900201','小花'),
       ('校內生','歷史系',4,'b06900332','小草'),
       ('校內生','機械系',4,'b06502055','小天');
'''
with engine.connect().execution_options(autocommit=True) as conn:
    conn.execute(text(sql))

# Q6
Write a select statement to read back the new students you inserted. However, in this task you should prepare the statement. And then execute the prepared statement three times using their student ID as selection condition. (10%)


Note: You may need to do a little bit research on your own to accomplish this task (look up how to write prepared statement with mysql.connector.)

In [10]:
engine = db.create_engine('mysql://root:Xuan137986ntu@127.0.0.1/DB_class?charset=utf8')
connection = engine.connect()
metadata = db.MetaData()

census = db.Table('student', metadata, autoload=True, autoload_with=engine)
for i in ['b09900201','b06900332','b06502055']:
# print(census.columns.keys())
    query = db.select([census]).where(census.columns.學號 == i)
    ResultProxy = connection.execute(query)
    ResultSet = ResultProxy.fetchall()
    print(ResultSet)

[('旁聽生', '歷史系', 1, 'b09900201', '小花')]
[('校內生', '歷史系', 4, 'b06900332', '小草')]
[('校內生', '機械系', 4, 'b06502055', '小天')]